<footer class="footer_winchester">

	<hr class="separator">

	<a class="subscribe_winchester" target="_blank" href="{{@blog.url}}/rss/"><i class="icon-rss-squared"></i></a>
	
	<div class="footertext_winchester">All content copyright <a href="/#contents" title="{{@blog.title}}">{{@blog.title}}</a> &copy; 2013.<br> All rights reserved.</div>

</footer>