// --------------------------------------------------
// Variables for the Winchester theme
// 1. Colors
// 2. Fonts
// 3. Media query breakpoint
// --------------------------------------------------

// 1. Colors
$body-color: #000000;
$heading-color: #000000;
$link-color: #f65040;

// 2. Fonts
$body-font: "Alegreya", Georgia, Times, "Times New Roman", serif;
$secondary-font: "Alegreya SC", Georgia, Times, "Times New Roman", serif;
$heading-font: "Alegreya", Georgia, serif;

// 3. Media query breakpoint (for phones)
$phone: 550px;